body{
    width: auto;
    margin: 0px 50px;
    background: #333;
}
header{
    font-family: 'Charmonman', cursive;
}
a {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 0.5cm;    
}
li{
    list-style: none;
}
nav {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;

}
article {
    display: flex;
    flex-wrap: wrap;  
}
section {
    font-size: 0.6cm;
    background-color: burlywood;
    height: 700px;
    padding: 12px;
    width: 550px;
    font-family: 'Charmonman', cursive;
}
aside {
    font-size: 1em;
    padding: 10px;
    background-color: cadetblue;
    width: 700px;
    margin-left: auto;
}
main{
    margin: 20px 0px;
    display: flex;
}
footer{
    background-color: whitesmoke;
    text-align: center;
    color: orangered;
    font-family: 'Itim', cursive;
}
#logo {
    text-align: center;
    color: orangered;
    font-size: 2cm;
    font-weight: bold;
}
.menu {
    padding: 0px 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 4px solid transparent;
    padding-bottom: 15px;
    transition: all 0.3s ease;
    background: rgb(243, 199, 5);
}
.menu:hover{
    border-bottom: 3px solid #333;
    padding-bottom: 0;
}
#btn4 { 
    grid-column: 7;
}
#btn1 {
    grid-column: 1;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #52a541;
    bottom: 40px;
    right: 50px;
  
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
html{
    scroll-behavior: smooth;
}
h1 {
    font-family: 'Itim', cursive;
}
form > div {
    padding: 10px;
}
form:hover {
    background: yellow;
}