body{
    width: auto;
    margin: 0 100px;
    background: whitesmoke;
    color: black;
    font: 20px sans-serif;
}
header{
    font-family: 'Charmonman', cursive;
    font-size: 1.5cm;

}
a {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    background: rgb(243, 199, 5);
}
li{
    list-style: none;
    float: left;
}
nav {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin: 5px;
    line-height: 30px;

}
main{
    margin: 50px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(3,1fr),repeat(3,1fr);
}
footer{
    background-color: rgba(128, 128, 128, 0.76);
}
#logo {
    text-align: center;
    color: orangered;
    font-size: 1.5cm;
    font-weight: bold;
}
#footer {
    text-align: center;
    color: orangered;
    font-family: 'Itim', cursive;
}
.menu {
    padding: 0px 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menu:hover{
    border-bottom: 3px solid #333;
    padding-bottom: 0;
}
section{
    display: grid;
    width: 200px;
    margin: 20px 0px;
    padding: 10px;
    border: 2px soli black;
    border-radius: 1em;
    background: rgba(51, 51, 51, 0.562);
    box-shadow: rgba(32, 106, 218, 0.76) 0.2em 0.3em 0.8em
}
h2 {
    text-align: center;
}
#btn4 { 
    grid-column: 7;
}
h{
    text-align: center;
}
#main {
    background-image: url(../image/2.jpg);
    background-size: cover;
}
#Open {
    grid-row-start: 3;
}
#Addess {
    grid-row-start: 2;
}
#Hotline {
    grid-row-start: 3;
}