body{
    width: auto;
    margin: 0px 50px;
    background: rgb(233, 202, 100);
}
header{
    font-family: 'Charmonman', cursive;
}
a {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 0.5cm;    
}
li{
    list-style: none;
}
nav {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;

}
main{
    margin: 20px 0px;
}
article {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 590px;
    width: auto;
}
section {
    background-color: #333;
    width: auto;
}
footer{
    background-color: rgba(128, 128, 128, 0.76);
    text-align: center;
    color: orangered;
    font-family: 'Itim', cursive;
}
#logo {
    text-align: center;
    color: orangered;
    font-size: 2cm;
    font-weight: bold;
}
.menu {
    padding: 0px 10px;
    text-decoration: none;
    color: #333;
    border-bottom: 4px solid transparent;
    padding-bottom: 15px;
    transition: all 0.3s ease;
    background: rgb(243, 199, 5);
}
.menu:hover{
    border-bottom: 3px solid #333;
    padding-bottom: 0;
}
#btn4 { 
    grid-column: 7;
}
#btn1 {
    grid-column: 1;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #52a541;
    bottom: 40px;
    right: 50px;
  
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}
html{
    scroll-behavior: smooth;
}
#mi {
    text-align: center;
    font-size: 1cm;
    color: bisque;
    background: #333;
    padding: 220px 0px;
    font-family: 'Itim', cursive;
}
#jen {
    text-align: center;
    font-size: 1cm;
    color: bisque;
    background: #333;
    padding: 220px 0px;
    font-family: 'Itim', cursive;
}
#mimi {
    background-image: url(../image/33.jpg);
    background-size: cover;
}
#jenjen {
    background-image: url(../image/1.jpg);
    background-size: cover;
}
@media screen and (max-width:800px) {
    .grid-container{
        grid-template-columns: auto;
      
    }
  
}